$mainClrOne: #fff;
$mainClrTwo: #000;
$mainClrSuccess: #2C7;
$mainClrWarning: #C82;
$mainClrDanger: #E15;
$mainClrPrimary: #07F;
$mainClrInfo: #1AB;

$mainFontSizeBig: 35px;
$mainFontSizeMiddle: 20px;
$mainFontSizeSmall: 15px;

